{#
/**
 * @file
 * icon.
 */
#}
{% set extra_attributes = create_attribute() %}
{% set extra_attributes = extra_attributes.addClass([
  'nav-link',
  'text-center'
]) %}

{% set title = content['#title']|render %}
{% set link_title %}
  <span class="d-block d-lg-inline-block">{{ title }}</span>
{% endset %}

<li class="nav-item oe-authentication">
  {{ pattern('link', {
    label: link_title,
    path: content['#url']|render,
    icon: {
      name: 'person-fill',
      size: 'xs'
    },
    icon_position: 'before',
    attributes: extra_attributes
  }) }}
</li>
