{% apply spaceless %}

{# Parameters:
  - language
    - link
      - label
      - href
      - target
    - modal
#}

{% set _language = {
  link: {
    label: language.link.name|default(''),
    href: language.link.href|default('#'),
    target: language.link.target|default(language.modal.id|default('')),
  },
  modal: language.modal,
} %}
{% set extra_attributes = create_attribute() %}
{% set extra_attributes = extra_attributes.setAttribute('data-bs-toggle', 'modal') %}
{% set extra_attributes = extra_attributes.setAttribute('data-bs-target', '#' ~ _language.link.target) %}
{% set extra_attributes = extra_attributes.addClass(
  [
    'text-center'
  ]
) %}
  {% set title = _language.link.label %}
  {% set link_title %}
    <span class="d-block d-lg-inline-block">{{ title }}</span>
  {% endset %}

  <div class="language-switcher">
  {{ pattern('link', {
    label: link_title,
    path: _language.link.href,
    icon: {
      name: 'chat-left-dots-fill',
      size: 'xs',
    },
    icon_position: 'before',
    standalone: true,
    attributes: extra_attributes
  }) }}
</div>

{% include '@oe_whitelabel/patterns/modal/modal-language.html.twig' with _language.modal only %}

{% endapply %}
