{% apply spaceless %}

{# Parameters:
  - language
    - link
      - label
      - href
      - target
    - modal
#}

{% set _language_link = {
  label: language.link.name|default(''),
  href: language.link.href|default('#'),
  target: language.link.target|default(language.modal.id|default(''))
} %}
{% set extra_attributes = create_attribute({
  'class': ['text-center'],
  'data-bs-toggle': 'modal',
  'data-bs-target': '#' ~ _language_link.target,
  'aria-label': ('Change language. Current language is '|t) ~ _language_link.label ~ '.',
}) %}

{% set _link_title %}
  <span class="d-block d-lg-inline-block">{{ _language_link.label }}</span>
{% endset %}

<div class="language-switcher">
  {{ pattern('link', {
    label: _link_title,
    path: _language_link.href,
    icon: {
      name: 'chat-left-dots-fill',
      size: 'xs',
    },
    icon_position: 'before',
    standalone: true,
    attributes: extra_attributes
  }) }}
</div>

{% include '@oe_whitelabel/patterns/modal/modal-language.html.twig' with language.modal only %}

{% endapply %}
