{% spaceless %}

{% set link_title %}
  <span class="d-block d-lg-inline-block">{{ language.link.label }}</span>
{% endset %}

<div class="language-switcher">
  {{ pattern('link', language.link|merge({
    label: link_title,
    icon: {
      name: 'chat-left-dots-fill',
      size: 'xs',
    },
    icon_position: 'before',
    standalone: true,
  })) }}
</div>

{% include '@oe_whitelabel/patterns/modal/modal-language.html.twig' with language.modal only %}

{% endspaceless %}
