{% spaceless %}

{# Parameters:
  - language
    - link
      - label
      - href
      - target
    - modal
#}

{% set _language = {
  link: {
    label: language.link.label|default(''),
    href: language.link.href|default('#'),
    target: language.link.target|default(language.modal.id|default('')),
  },
  modal: language.modal,
} %}

<header>
  <!-- header -->
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href={{ _language.link.label }} role="button" data-bs-toggle="modal" data-bs-target="#{{ _language.link.target }}">
          {{ _language.link.label }}
        </a>
      </li>
    </ul>
  </div>

</header>

<!-- Modal - Language -->
{% include '@oe_whitelabel/patterns/modal/modal-language.html.twig' with _language.modal only %}

{% endspaceless %}
