{#
/**
 * @file
 * Theme override to display the navbar right region.
 *
 * @see ./core/themes/stable/templates/layout/region.html.twig
#}
{% if content %}
  <div class="nav">
    {{ content }}
  </div>
{% endif %}
