{#
/**
 * @file
 * News full display.
 */
#}

<article{{attributes}}>
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-9 col-xxl-8 mb-4">
      {{ content.body }}
    </div>
  </div>
</article>
