{#
/**
 * @file
 * Item list theme override for a oe_list_pages list template.
 *
 * @see template_preprocess_item_list()
 */
#}
<hr class="d-none d-md-block mb-4-75">
<div class="bcl-listing bcl-listing--default-1-col">
  <div class="row row-cols-1 g-4">
    {%- if items -%}
      {%- for item in items -%}
        <div class="col">{{ item.value }}</div>
      {%- endfor -%}
    {%- else -%}
      {{- empty -}}
    {%- endif -%}
  </div>
</div>
