includes:
  - ./vendor/openeuropa/code-review-drupal/dist/phpstan.drupal.neon
  # Use php for version-specific rules.
  - ./phpstan.neon.php
parameters:
  # The level 1 was applied by grumphp, when there was no phpstan.neon.
  level: 1
