<div class="container-fluid oe_whitelabel__footer">
  <div class="row">
    <div class="col">
      Column 1 {% if site_specific_footer.site_identity is not empty %}
        <h2 class="footer__custom-title-identity">{{ site_specific_footer.site_identity }}</h2>
      {% endif %}
    </div>
    <div class="col">
      Column 2
    </div>
    <div class="col">
      Column 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      Column 1
    </div>
    <div class="col">
      Column 2
    </div>
    <div class="col">
      Column 3
    </div>
  </div>
</div>

