{#
/**
 * @file
 * Default template for the 'oe_whitelabel_helper_address_inline' address formatter.
 *
 * Available variables:
 *   - address: Address object.
 *   - address_items: Address items.
 *   - address_delimiter: Delimiter between address items.
 *   - country_flag: The country address flag. Optional.
 *
 * @ingroup themeable
 */
#}
<span translate="no" class="d-flex align-items-center">
  {{ country_flag }} {{ address_items|join(address_delimiter) }}
</span>
