// Prevent double borders on select elements with slim-select enabled.
.form-select {
  .ss-multi-selected {
    border: 0;
  }
}

// Decrease icon size on search button.
@media (min-width: 768px) {
  .bcl-search-form__btn_icon {
    width: 1rem;
    height: 1rem;
  }
}
