// Style overrides for oe_whitelabel_modal_page module.
.js-modal-page-show {
  .modal-no-border {
    border: none !important;
  }

  .toast {
    --bs-toast-bg: rgba(var(--bs-body-bg-rgb), 1);
  }

  .toast-header {
    justify-content: space-between;
  }

  .toast-header .btn-close {
    margin-left: auto;
  }

  .toast-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--bs-toast-header-bg);
    background-clip: padding-box;
    border-bottom-left-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
    border-bottom-right-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
    border-top: var(--bs-toast-border-width) solid var(--bs-toast-header-border-color);
    padding: var(--bs-toast-padding-y) var(--bs-toast-padding-x);
  }
}
