<div class="col-12 col-lg-4 pb-lg-4">
  <p class="fw-bold pb-2 mb-2">More information on:</p>
  {% if links is defined and links is not empty and links is iterable %}
    {% for link in links %}
      {{ pattern('link', link) }}
    {% endfor %}
  {% endif %}
</div>
