<h2> {{ optional_links_title| t }} </h2>
{% if optional_links_links is defined and optional_links_links is not empty and optional_links_links is iterable %}
<ul>
  {% for optional_link in optional_links_links %}
    <li>{{ pattern('link', {
        'label': optional_link['link']['label'],
        'path': optional_link['link']['path'].uri,
      }) }}</li>
  {% endfor %}
</ul>
{% endif %}

