{% if optional_links_links is defined and optional_links_links is not empty and optional_links_links is iterable %}
  {% for optional_link_sections in optional_links_links %}
    <h2> {{ optional_link_sections['label']| t }} </h2>
    <ul>
      {% for optional_link in optional_link_sections %}
        {{ dump(optional_link) }}
        <li>{{ pattern('link', {
            'label': optional_link['link']['label'],
            'path': optional_link['link']['path'].uri,
          }) }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}

