<p class="fw-bold border-bottom pb-2 pt-4 pt-lg-0 mb-2"> {{ eu_institutions_title|t }} </p>
{% if eu_institutions_links is defined and eu_institutions_links is not empty and eu_institutions_links is iterable %}
<ul class="nav flex-column">
  {% for eu_link in eu_institutions_links %}
    <li class="nav-item">{{ pattern('link', eu_link) }}</li>
  {% endfor %}
</ul>
{% endif %}
