{% if sections is defined and sections is not empty and sections is iterable %}
  {% set i = 0 %}
  {% for section in sections %}
    {% if i == 0 %}
      <p class="fw-bold border-bottom pb-2 mb-2">{{ section.title }}</p>
    {% else %}
      <p class="fw-bold border-bottom pb-2 mb-2 mt-3">{{ section.title }}</p>
    {% endif %}
    {% set i = i + 1 %}
    {% if section.links is defined and section.links is not empty and section.links is iterable %}
      <ul class="nav flex-column">
        {% for link in section.links %}
          <li class="nav-item">{{ pattern('link', {
            label: link.label,
            path: link.path|render,
            icon: link.icon,
            icon_position: link.icon_position
          }) }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}
