{#
/**
 * @file
 * Contributors field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<dl class="fw-bold mb-4 mt-3 mb-4 d-md-grid grid-3-9">
  <dd>{{ label }}</dd>
  <div>
    <dt>
      {{ element }}
    </dt>
  </div>
</dl>
