{#
/**
 * @file
 * Project participants field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% set _title = 'Participants'|t %}
<h3 id="oe-project-oe-project-participants" class="fw-bold my-4">
  {{ _title }}
</h3>

<div class="ecl-row">
  {% for item in items %}
    <div class="ecl-col-12 ecl-col-m-6">
      {{ item.content }}
    </div>
  {% endfor %}
</div>
