<nav class="oe-header__navbar navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
          {{ header_top }}
        <div class="row">
          <div class="col-9">
            {{ header_left }}
          </div>
          <div class="col-3">
            {{ header_right }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
