{#
/**
 * @file
 * Field template of the oe_document_reference for the single Document entity.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% for item in items %}
  <div{{ not loop.last ? ' class="mb-3"' }}>
    {{ item.content }}
  </div>
{% endfor %}
