{#
/**
 * @file
 * Field template for person documents.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% if items is not empty %}
  <h2 class="mb-4">{{ 'Related documents'|t }}</h2>
  <div class="mb-4-5">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
{% endif %}


