{#
/**
 * @file
 * Field template of the oe_document_reference for the Document Group title.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% for item in items %}
  <h3 class="fs-4 mt-3 mb-2">{{ item.content }}</h3>
{% endfor %}
