{#
/**
 * @file
 * Publication full display.
 */
#}
<article{{attributes}}>
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-9 col-xxl-8">
      {{ content }}
    </div>
  </div>
</article>
