{#
/**
 * @file
 * Event content banner display.
 */
#}
{% set _content %}
  {{ content.oe_summary }}
  {{ content.oe_sc_event_registration_url }}
{% endset %}
<div{{attributes}}>
  {{ pattern('content_banner', {
    background: 'gray',
    title: label,
    content: _content,
    image: image,
  }) }}
</div>
