{#
/**
 * @file
 * Event content banner display.
 */
#}
<div{{attributes}}>
  {{ pattern('content_banner', {
    background: 'gray',
    title: label,
    content: [
      content.oe_summary,
    ],
    image: image,
    links: links,
    action_bar: content.group_action_bar,
  }) }}
</div>
