{#
/**
 * @file
 * Template for Teaser view display of Project content type.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{% set _badges = [] %}
{% for _item in content.oe_subject|field_value %}
  {% set _badges = _badges|merge([{
    label: _item,
  }]) %}
{% endfor %}
{% block content %}
<article{{attributes}}>
  {{ pattern('card', {
    variant: 'search',
    title: _title,
    text: content.oe_teaser|field_value,
    image: {
      path: image.src,
      alt: image.alt,
    },
    meta: [
      content.oe_project_dates|field_value,
    ],
    content: _content,
    badges: _badges,
  }) }}
</article>
{% endblock %}
