{% if elements.oe_acronym is not empty %}
  <h4 class="fw-bold mb-3">{{ elements.oe_acronym }}</h4>
{% endif %}
{% set _items = [] %}
{% for _field in elements|without('oe_acronym') if _key|first != '#' %}
  {% set _value %}
    {{ _field|field_value }}
  {% endset %}
  {% if _value|trim is not empty %}
    {% set _items = _items|merge([{
      term: _field|field_label,
      definition: _value,
    }]) %}
  {% endif %}
{% endfor %}
{{ pattern('description_list', {
  items: _items,
  orientation: 'horizontal',
  attributes: create_attribute().addClass(['border-bottom', 'mt-3', 'mb-4']),
}) }}

