{#
/**
 * @file
 * Template override for user subscriptions page.
 */
#}
{{ pattern('content_banner', {
  'background': 'gray',
  'title': page_title,
  'content': introduction,
}) }}
<div class="mt-4-75">
  {{ elements }}
</div>
