{#
/**
 * @file
 * Theme override to display a node of bundle event in the teaser view mode.
 */
#}
{% set _title %}
  <a class="standalone" href="{{ url }}">{{ label }}</a>
{% endset %}
{% block content %}
<article{{attributes}}>
  {{ pattern('card', {
    variant: 'search',
    title: _title,
    text: content.oe_summary,
    image: image ? {
      path: image.src,
      alt: image.alt,
    },
    meta: [
      content.oe_sc_event_dates|field_value,
    ],
  }) }}
</article>
{% endblock %}
