{#
/**
 * @file
 * Theme override to display an agenda session entity of oe_break type.
 *
 * @see ./modules/contrib/oe_agenda/templates/oe-agenda-session.html.twig
 */
#}
{% extends "@oe_whitelabel/agenda/oe-agenda-session--oe-default.html.twig" %}

{% block hours %}
  {{ _self.icon() }}
  <span class="text-muted">{{ content.oe_session_hours|field_value }}</span>
{% endblock %}

{% block content %}
  {% set _title = entity.get('name').isEmpty() ? 'Break'|t : label %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: 'h4',
    attributes: create_attribute().addClass(['h5', 'mb-4', 'text-muted']),
  } only %}

  {# Details. #}
  {% if not entity.oe_session_details.isEmpty() %}
    <div class="session-details">
      {{ content.oe_session_details|field_value }}
    </div>
  {% endif %}
{% endblock %}
