{#
/**
 * @file
 * Default theme implementation for a 'search form' composition.
 */
#}
{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}
<form {{ attributes.addClass(form_attributes.class).setAttribute('action', form_attributes.action) }}>

    {% set attributes = create_attribute()  %}

    {{ additional_elements }}

    {% include '@oe-bcl/bcl-form-input/form-input.html.twig' with {
      'label': label,
      'placeholder': placeholder,
      'horizontal': true,
      'horizontal_class': input_classes
    }
    %}
    <button class="btn btn-primary btn-md {{ button_classes }}" type="submit">
      {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
        name: button_icon,
        path: bcl_icon_path,
        size: 'fluid'
      } %}
      {{ button_label }}
    </button>
</form>
