{#
/**
 * @file
 * Default theme implementation for a 'search form' composition.
 */
#}
{% if button_icon %}
  {% set _icon = {
      name: button_icon,
      path: bcl_icon_path,
      size: 'fluid'
    }
  %}
{% endif %}
{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}
<form {{ attributes.addClass(form_attributes.class).setAttribute('action', form_attributes.action) }}>

    {% include '@oe-bcl/bcl-form-input/form-input.html.twig' with {
      'placeholder': placeholder,
      'horizontal': true
    }
    %}
    <button class="btn btn-primary btn-md" type="submit">
      <svg class="bi icon--s">
        <use xlink:href="{{ _icon.path ~ "#" ~ _icon.name }}"/>
      </svg>
      Submit
    </button>
</form>
