{#
/**
 * @file
 * Theme override for a 'form' element.
 * @see ./core/themes/stable/templates/form/form.html.twig
 */
#}
<form{{ attributes.addClass('d-flex', 'mt-3', 'mt-lg-0') }}>
  {{ children }}
</form>
