{#
/**
 * @file
 * Override for forms with form id = 'oe_whitelabel_search_form'.
 *
 * @see ./core/modules/system/templates/form.html.twig
 * @see \Drupal\oe_whitelabel_search\Form\SearchForm
 */
#}
<form{{ attributes.addClass('d-flex', 'mt-3', 'mt-lg-0') }}>
  {{ children }}
</form>
