{#
/**
 * @file
 * Theme block implementation to display sort by exposed filter form.
 *
 * @see ./core/themes/stable/templates/block/block.html.twig
 */
#}
<div class="col-md-6 col-lg-4 mt-3 mt-md-0">
    {% block content %}
      {{ content }}
    {% endblock %}
</div>
