{#
/**
 * @file
 * Theme block implementation to display sort by exposed filter form.
 *
 * @see ./core/themes/stable/templates/block/block.html.twig
 */
#}
{% block content %}
  <div class="col-md-6 col-lg-4 mt-3 mt-md-0" data-bef-auto-submit-full-form="" data-bef-auto-submit="" data-bef-auto-submit-delay="500" data-drupal-selector="views-exposed-form-showcase-search-showcase-search-page" id="block-showcase-exposed-sort-form">
    {{ content }}
  </div>
{% endblock %}
