{#
/**
 * @file
 * Default theme implementation to display source summary block total count.
 *
 * Available variables:
 * - count: The total number of records retrieved.
 */
#}
<h4 class="mb-4">
  <span class="source-summary-count">
    {% trans %}Search result{% plural count %} Search results ({{ count }}){% endtrans %}
  </span>
</h4>
