{#
/**
 * @file
 * Theme for the header search input submit element.
 *
 * @see ./core/modules/system/templates/input.html.twig
 */
#}
{% set label %}
  {{ pattern('icon', {
    'name': 'search',
    'path': bcl_icon_path,
    'size': 's',
    'attributes': create_attribute({
      'class': [
        'd-inline-block',
        'bcl-search-form__btn_icon',
      ]
    })
  }) }}
  {% if element['#value'] is not empty %}
    <span class="d-none d-lg-inline-block ms-md-2-5">{{ element['#value']|t }}</span>
  {% endif %}
{% endset %}
{{ pattern('button', {
  'variant': 'primary',
  'label': label,
  'type': 'submit',
  'attributes': attributes
    .addClass([
      'bcl-search-form__submit',
      'px-3'
    ])
}) }}
{{ children }}
