{#
/**
 * @file
 * Template override for flag link.
 */
#}
{% apply spaceless %}
{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
{% else %}
    {% set action_class = 'action-flag' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{%
  set classes = [
    'flag',
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action_class
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow').addClass(['w-auto', 'btn', 'btn-outline-primary', 'btn-md']) %}

<span class="{{classes|join(' ')}}"><a{{ attributes }}>{{ title }}</a></span>
{% endapply %}
