{#
/**
 * @file
 * Search result template.
 */
#}
{% set badges = [] %}
{% set _title %}
  <a class="text-underline-hover" href="{{ url }}">{{ label }}</a>
{% endset %}
{{ pattern('card', {
  variant: 'search',
  title: label,
  text: content.body,
  image: image,
  content: {
    '#type': 'html_tag',
    '#tag': 'span',
    '#attributes': {
      class: 'text-muted text-nowrap me-4-5',
    },
    '#value': node.getCreatedTime|bcl_timeago,
  },
  badges: badges|render
}) }}
